@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'SUIT-Regular';
  background-color: #1d193a;
  padding-top: 20px;
}

.movieContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.movieContainer:hover {
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.movieImg {
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.movieInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    width: 200px;
    height: 70px;
    background-color: #363062;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

h4, span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: white;
  height: 20px;
}

h4 {
  width: 150px;
  font-weight: lighter;
}

span {
  text-align: center;
  width: 50px;
}


.movieVIdeoCover {
    width: 100%;
    height: auto;
}

.moviePlay {
    width: 100%;
}