@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'SUIT-Regular';
  background-color: #1d193a;
}

.movieContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.movieContainer:hover {
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.movieImg {
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.movieInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    width: 200px;
    height: 70px;
    background-color: #363062;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

h4, span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: white;
  height: 20px;
}

h4 {
  width: 150px;
  font-weight: lighter;
}

span {
  text-align: center;
  width: 50px;
}


.movieVideoCover {
    width: 100%;
    height: auto;
}

.moviePlay {
    width: 100%;
}

.movieBtn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.movieBtnIcon {
  position: relative;
    bottom: 50px;
    width: auto;
    height: 30px;
    color: white;
    z-index: 2;
    cursor: pointer;
}

/* modal */
.hidden {
  display: none;
}

.modalWrapper {
  
    background-color: rgb(161, 161, 161, 0.5);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100vh;
}

.modalMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 700px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  background-color: #ffff;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modalTitle {
  margin: 12px;
}

.modalButton {
  border: none;
  background-color: #ffff;
  margin: 12px;
}

.wrapperMyPlaylist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
