@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */
.headerContainer {
    width: auto;
    background-color: black;
}

.headerWrapper {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 30px;
    padding-left: 35px;
}

.headerLogo {
    font-size: 30px;
    font-family: 'Cafe24Supermagic-Bold-v1.0';
}

.headerLinkWrapper {
   font-size: 20px;
   padding: 20px;
   font-family: 'SUIT-Regular';
}

.headerLink {
    text-decoration: none;
    color: #F99417;
}

/* footer */
.footerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #363062;
    height: 100px;
}

.footerMain {
    color: #F99417;
    font-family: 'SUIT-Regular';
}
