@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.dim {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: auto;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    /* background-color: rgba(#342e5f); */
    background: linear-gradient(to bottom,
            rgba(82, 69, 150, 0.5) 10%,
            rgba(82, 69, 150, 0.7) 25%,
            rgba(82, 69, 150, 0.8) 50%,
            rgba(82, 69, 150, 0.9) 75%,
            rgba(82, 69, 150, 1) 100%)
}

.header {
    display: flex;
    position: absolute;
    width: auto;
    height: auto;
    top: 10px;
    color: black;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
    transition: all 1s;
}

.header:hover {
    color: rgb(233, 213, 123);
}

.modalImg {
    border-radius: 16px;
    width: 500px;
    height: 360px;
    margin-top: 10px;
}

.pickupCover {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #363062;

}

.pickupBtn {
    /* position: absolute; */
    /* all: unset; */
    cursor: pointer;
    transition: all 1s;
    background: none;
    border: none;
}

.pickupBtn svg path {
    fill: #fff;
    transition: 0.5s;
}

.pickupBtn:hover svg path {
    fill: rgb(233, 213, 123);
}

.movieData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #363062;
    color: white;
    width: 500px;
    height: auto;
    font-family: 'SUIT-Regular';
    font-size: 15px;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 20px;
}

.story {
    line-height: 2.0;
}

@media screen and (max-width: 600px) {
    .container {
        width: 60%;
    }

    .header {
        font-size: 20px;
        right: 20px;
    }

    .movieData {
        width: 90%;
        height: auto;
        font-size: 13px;
    }

    .modalImg {
        width: 60%;
        height: 250px;
    }
}