@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }


.dim {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 700px;
    transform: translate(-50%, -50%);
    background-color: none;
    border-radius: 16px;
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

.header {
    display: flex;
    position: absolute;
    width: auto;
    height: auto;
    top: 20px;
    color: orange;
    right: 5px;
    cursor: pointer;
    font-size: 30px;
}

.modalImg {
    border-radius: 16px;
    width: 598px;
    height: 360px;
    border: 3px solid orange;
}

.pickupCover {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #363062;
}

.pickupBtn {
    position: absolute;
    all: unset;
    cursor: pointer;
}

.movieData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #363062;
    color: white;
    width: 100%;
    height: auto;
    font-family: 'SUIT-Regular';
    font-size: 15px;
    border-radius: 16px;
    padding: 10px;
    border: 3px solid orange;
}

.story {
    line-height: 2.0;
}